@import url("./overidesAntd.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans Thai", sans-serif;
}

* {
  font-family: "Noto Sans Thai", sans-serif !important;
}

/* Optional: For specific Ant Design components */
.ant-typography,
.ant-btn,
.ant-select,
.ant-input {
  font-family: "Noto Sans Thai", sans-serif !important;
}

pre {
  @apply p-4 bg-black rounded-lg text-yellow-300 text-base max-h-96 overflow-y-auto;
}
